@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: "Nunito", sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #F7F8F9;
}
.textheader{
    background-color: #ffffff;
}

.textheader span{
    color: #2680EB;
}
#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
    padding-left: 25px;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 800;
    color: #2680EB;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 1rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #6B718C;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    font-weight: 600;
    border-left: 3px solid transparent;
}

.sidebar-link img {
    font-size: 1.1rem;
    margin-right: .75rem;
    margin-right: .75rem;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}
.active a.sidebar-link{
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.menu{
    margin-top: 2rem;
}

.menu li{
    margin-bottom: 0.5rem;
}

.svg{
    width: 20px;
}
.logo{
    width: 25px;
}

/* .active{
    border-left: 3px solid #2680EB;
} */
.headerh{
    font-size: 20px;
    font-weight: 900;
    line-height: 27.28px;
    letter-spacing: -0.02em;
    text-align: left;

}
.headerp{
    color: #6B718C;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.011em;
    margin-top: -15px;
}
.container-lg{
    width: 1175px;
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    margin-top: 24px;
}
.dateinput{
    width: 10rem;
}
.content{
    overflow-x: auto;
    background-color: #ffffff;
    margin-left: 1rem;
    margin-top: 28px;
    width: 97%;
}

#waktu{
    text-align: center;
    width: 10%;
}
#namatab{
    width: 10px;

}
.kegiatantd{
    width: 10px;
}
.table{
    width: 1000px;
    table-layout: auto;
}
.daftarpengun{
    color: #42486C;
    font-size: 20px;
    font-weight: 900;
    line-height: 27.28px;
    letter-spacing: -0.02em;
    text-align: left;

}
.texttable{
    color: #42486C;
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;
}

.kelas{
    color: #2680EB;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;

}
th{
    color: #42486C;
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;

}
.formh{
    width: 95%;
}
#nomor{
    width: 5%;
}
/* .sidebar-link img{
    margin-right: .75rem;
} */

.ulcontent{
    width: 700px;
}

.list{
    color: #D0D2DA;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.1px;
    text-align: center;
    padding: 2px 0;
}

.activep{
    color: #2680EB;
    border-bottom: 1px solid #2680EB;
}

.img{
    width: 175px;
    height: 150px;
}

.textfoto{
    border-left: 6px solid #2680EB;
    font-size: 16px;
    font-weight: 900;
    line-height: 21.82px;
    letter-spacing: -0.02em;
    text-align: left;
    padding-left: 10px;
}

.btn-foto{
    margin-left: 40px;
    color: #2680EB;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: center;

}
.h-header{
    width: 1020px;
}
.content-foto{
    width: 220px;
}
.info-header{
    justify-content: space-between;
    width: 890px;
    padding-right: 14px;
}
.-info{
    font-size: 16px;
    font-weight: 900;
    line-height: 21.82px;
    letter-spacing: -0.02em;
    text-align: left;
    border-left: 6px solid #2680EB;
    padding-left: 10px;
}
.text-btn{
    color: #6B718C;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;

}

.namanya{
    width: 288px;
}
.nomornya{
    width: 300px;
}

.judulinfo{
    color: #8589A0;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;

}

.ini-show{
    color: #42486C;
    font-size: 14px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;

}

.password{
    justify-content: space-between;
    width: 890px;
    padding-right: 14px;
}
.-pw{
    font-size: 16px;
    font-weight: 900;
    line-height: 21.82px;
    letter-spacing: -0.02em;
    text-align: left;
    border-left: 6px solid #2680EB;
    padding-left: 10px;
}

.h6rak{
    width: 680px;
    border-left: 6px solid #2680EB;
    color: #42486C;
    font-size: 16px;
    font-weight: 900;
    line-height: 21.82px;
    letter-spacing: -0.02em;
    text-align: left;

}

.rak-tambah{
    color: #42486C;
    font-size: 14px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;

}

.rakno {
    width: 4rem;
}

